:host {
  @mixin part($index) {
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: $index;
    position: absolute;
  }
  .container {
    position: relative;
    height: 30px;
    border: 1px #8080805e solid;
    display: block;
  }
  .indicator {
    @include part(1);
    background-image: linear-gradient(to right,  #ff3d00, #f3af32, #14a514);
    z-index: 1;
  }
  .value {
    @include part(2);
    display: grid;
    place-content: center;
    font-weight: 700;
  }
}
