:host {
  form {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 25px;
    .submit-btn {
      grid-column: 6;
      justify-self: center;
      align-self: center;
    }
    #area-search {
      grid-column: 5;
    }
    #content-search {
      grid-column: 4;
    }
  }
}
