<ngx-slick-carousel class="carousel"
                    #slickModal="slick-carousel"
                    [config]="slideConfig"
                    (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
  <div ngxSlickItem *ngFor="let slide of items" class="slide">
    <ng-container [ngTemplateOutlet]="templateRef"
                  [ngTemplateOutletContext]="{$implicit: slide}">

    </ng-container>
  </div>
</ngx-slick-carousel>
