$btn-size: 24px;
app-favourite-btn {
  display: grid;
  place-self: center;
  color: #70809073;
  .sub {
    grid-area: sub;
    justify-self: end;
    mat-icon, & {
      height: $btn-size;
      line-height: $btn-size;
      width: $btn-size;
    }
  }

  .favourite {
    color: gold;
  }
}
