<h2 class="title">{{title}}</h2>
<app-carousel [items]="cars">
  <ng-template let-value>
    <mat-card>
      <mat-card-title (click)="open(value)">
        {{value.title}}
      </mat-card-title>
      <img mat-card-image [src]="value.images[0]" [alt]="value.title">
      <mat-card-content>
        <div class="name">
          <div class="brand">{{value.car.brand}}</div>
          <div class="model">{{value.car.model}}</div>
        </div>
        <div class="params">
          <div class="hp">{{value.car.hp}} HP</div>
          <div class="capacity">{{value.car.capacity}}</div>
          <div class="millage">{{value.car.millage | number}} KM</div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div class="city">{{value.seller.city}}</div>
        <div class="year">{{value.car.year}}</div>
        <button class="sub" [ngClass]="{'favourite': value.favourite}"
                mat-icon-button (click)="value.favourite = !value.favourite">
          <mat-icon>star</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>

  </ng-template>
</app-carousel>
